body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
}
body {
    background-color: rgb(213, 213, 211);
    width: 100%;
}

.container {
    background-color: rgb(213, 213, 211);
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* H E A D E R */

.header {
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    width: 1366px;
    height: 72px;
    /* position: fixed; -- REIKALINGAS VELIAU */
    background-color: #00856F;
    justify-content:space-around;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

.header-container > h1 {
    color: white;
    font-weight: 200;
    font-size: 25px;
}

.header-container span {
    font-weight: 600;
}

.header-nav {
    display: flex;
    gap: 8px;
}

.header-nav > a {
    text-decoration: none;
    color: #F7F9F9;   
    opacity: 0.5; 
    padding: 25px 14px 25px 14px;
}

.header-nav > a:hover {
    opacity: 1;
    border-bottom: 3px solid #F7F9F9;
    padding: 25px 14px;
}

.header-button {
    background-color: #00856F;
    color: #F7F9F9;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid #F7F9F9;
    border-radius: 40px;
    padding: 10px 24px 10px 24px;
    cursor: pointer;
}

/* M   A   I   N */

/*  MAIN-11111111111111111111111111111111  */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-one-header {
    display: flex;
    width: 1366px;
    height: 72px;
    justify-content:space-around;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}



.main-one {
    background-color: #DCE9E2;
    width: 1366px;
    height: 678px;
}

.main-one-header > h1 {
    color: black;
    font-weight: 200;
    font-size: 25px;
}

.main-one-header span {
    font-weight: 600;
    color: #00856F;
}

.main-nav {
    display: flex;
    gap: 8px;
}

.main-nav > a {
    text-decoration: none;
    color: #00856F;   
    opacity: 0.5; 
    padding: 25px 14px 25px 14px;
}

.main-nav > a:hover {
    opacity: 1;
    border-bottom: 3px solid #00856F;
    padding: 25px 14px;
}

.main-button {
    background-color: #DCE9E2;
    color: #00856F;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid #00856F;
    border-radius: 40px;
    padding: 10px 24px 10px 24px;
    cursor: pointer;
}
/*  MAIN-22222222222222222222222222222222222 */
.main-two {
    background-color: #F7F9F9;
    width: 1366px;
    height: 1082px;
}
/*  MAIN-3333333333333333333333333333333333333 */

.main-three {
    background-color: #FFFAF1;
    width: 1366px;
    height: 734px;
}
/*  MAIN-444444444444444444444444444444444 */
.main-four {
    background-color: #FFFFFF;
    width: 1366px;
    height: 699px;
}


/* F O O T E R */

.footer {
    display: flex;
    justify-content: center;
}

.footer-container {
    background-color: #00856F;
    color: #F7F9F9;
    font-family: 'DM Sans', sans-serif;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 566px;
    justify-content: space-around;
    bottom: 0;
    width: 1366px;
    height: 268px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.footer-left > h1 {
    font-size: 45px;
    font-weight: 200;
}

.footer-name > span {
    font-weight: 600;
}

.footer-left > p {
    font-size: 14px;
}

.footer-right {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    gap: 38px;

}

