body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
}
body {
background-color: rgb(213, 213, 211);
position: relative;
min-height: 100vh;
}

/* H E A D E R */

.header {
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    width: 1366px;
    height: 72px;
    position: fixed;
    background-color: #00856F;
    justify-content:space-around;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

.header-container > h1 {
    color: white;
    font-weight: 200;
    font-size: 25px;
}

.header-container span {
    font-weight: 600;
}

.header-nav {
    display: flex;
    gap: 8px;
}

.header-nav > a {
    text-decoration: none;
    color: #F7F9F9;   
    opacity: 0.5; 
    padding: 25px 14px 25px 14px;
}

.header-nav > a:hover {
    opacity: 1;
    border-bottom: 3px solid #F7F9F9;
    padding: 25px 14px;
}

.header-button {
    background-color: #00856F;
    color: #F7F9F9;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid #F7F9F9;
    border-radius: 40px;
    padding: 10px 24px 10px 24px;
    cursor: pointer;
}




/* F O O T E R */

.footer {
    display: flex;
    justify-content: center;
}

.footer-container {
    background-color: #00856F;
    color: #F7F9F9;
    font-family: 'DM Sans', sans-serif;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 566px;
    justify-content: space-around;
    bottom: 0;
    width: 1366px;
    height: 268px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.footer-left > h1 {
    font-size: 45px;
    font-weight: 200;
}

.footer-name > span {
    font-weight: 600;
}

.footer-left > p {
    font-size: 14px;
}

.footer-right {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    gap: 38px;

}

