body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
}
body {
    background-color: rgb(213, 213, 211);
    width: 100%;
}

.container {
    background-color: rgb(213, 213, 211);
    min-height: 500vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* E M P T Y */

.empty {
    width: 100%;
    height: 50px;
}


/* H E A D E R */

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 72px;
    background-color: #00856F;
    position: fixed; 
}

.header-container {
    display: flex;
    width: 1366px;
    height: 72px;
    background-color: #00856F;
    justify-content:space-around;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

.header-container > h1 {
    color: white;
    font-weight: 200;
    font-size: 25px;
}

.header-container span {
    font-weight: 600;
}

.header-nav {
    display: flex;
    gap: 8px;
}

.header-nav > a {
    text-decoration: none;
    color: #F7F9F9;   
    opacity: 0.5; 
    padding: 25px 14px 25px 14px;
}

.header-nav > a:hover {
    opacity: 1;
    border-bottom: 3px solid #F7F9F9;
    padding: 25px 14px;
}

.header-button {
    background-color: #00856F;
    color: #F7F9F9;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid #F7F9F9;
    border-radius: 40px;
    padding: 10px 24px 10px 24px;
    cursor: pointer;
}

/* M   A   I   N */

/*  MAIN-11111111111111111111111111111111  */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

.main-one {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #DCE9E2;
    width: 100%;
    height: 678px;
}

.main-one-header {
    display: flex;
    width: 1366px;
    height: 72px;
    justify-content:space-around;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

.main-one-header > h1 {
    color: black;
    font-weight: 200;
    font-size: 25px;
}

.main-one-header span {
    font-weight: 600;
    color: #00856F;
}

.main-nav {
    display: flex;
    gap: 8px;
}

.main-nav > a {
    text-decoration: none;
    color: #00856F;   
    opacity: 0.5; 
    padding: 25px 14px 25px 14px;
}

.main-nav > a:hover {
    opacity: 1;
    border-bottom: 3px solid #00856F;
    padding: 25px 14px;
}

.main-button {
    background-color: #DCE9E2;
    color: #00856F;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid #00856F;
    border-radius: 40px;
    padding: 10px 24px 10px 24px;
    cursor: pointer;
}

.main-one-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* width: 1366px; */
}

.main-one-leftmain {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 664px;
    height: 335px;
    font-family: 'DM Sans', sans-serif;
}

.main-one-leftmain > h5 {
    font-size: 14px;
    color: #00856F;
    margin-top: -15px;
}

.main-one-leftmain > h1 {
    font-size: 52px;
    width: 605px;
    height: 136px;
    line-height: 67.6px;
    letter-spacing: 3px;
}

.main-one-leftmain > p {
    font-size: 18px;
    width: 585px;
    height: 54px;
}

.main-one-leftmain > button {

    width: 263px;
    height: 52px;
    font-size: 14px;
    font-weight: 700px;
    line-height: 18.23px;
    background-color: #00856F;
    color: white;
    border-radius: 30px;
    padding: 16px 32px 16px 32px;
}

.main-one-leftmain > button >span {
    width: 20px;
    height: 20px;
    line-height: 18.23px;
    padding-right: 40px;
}

.main-one-photo {
    width: 420px;
    height: 549px;
    margin-right: 10px;
}


/*  MAIN-22222222222222222222222222222222222 */
.main-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F9F9;
    width: 100%;
    height: 1082px;
}

.main-two-header {
    text-align: center;
    margin-top: 263px;
}
.main-two-header>h5 {
    width: 76px;
    height: 21px;
    margin: auto;
    font-size: 14px;
    font-weight: 700;
    color:#00856F;


}

.main-two-header>p {
    width: 426px;
    height: 104px;
    margin: auto;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.main-two-main {
    width: 1200px;
    height: 500px;
    display: grid;
    row-gap: 16px;
    column-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 10px;
    place-items: center;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 347px;
    height: 207px;
    border: 2px solid #DCE9E2;
    border-radius: 6px;
    padding: 24px;
    background-color: white;
}

.block>i {
    font-size: 24px;
    color: #00856F;
}

.block>h1 {
    font-size: 24px;
} 

.block>p {
    font-size: 16px;
} 
/*  MAIN-3333333333333333333333333333333333333 */

.main-three {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFAF1;
    width: 100%;
    height: 734px;
}

.main-three-main {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 80px;

}

.main-three-leftmain {
    width: 480px;
    height: 414px;
    border-radius: 20px;
}

.main-three-leftmain>img {
    width: 480px;
    height: 414px;
}

.main-three-rightmain {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 573px;
    height: 327px;
    font-family: 'DM Sans', sans-serif;
}

.main-three-rightmain > h5 {
    font-size: 14px;
    color: #00856F;
}

.main-three-rightmain > h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52.08px;
    width: 423px;
    height: 104px;
    letter-spacing: 2px;
}

.main-three-rightmain > p {
    font-size: 16px;
    width: 573px;
    height: 168px;
    font-weight: 400;
}



/*  MAIN-444444444444444444444444444444444 */
.main-four {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 100%;
    height: 699px;
}

.main-four-main {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 150px;

}

.main-four-leftmain {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 404px;
    height: 304px;
    font-family: 'DM Sans', sans-serif;
}

.main-four-leftmain > h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52.08px;
    width: 404px;
    height: 104px;
    letter-spacing: 2px;
}

.main-four-leftmain > p {
    font-size: 16px;
    width: 234px;
    height: 24px;
    font-weight: 400;
}

.main-four-leftmain > button {
    width: 263px;
    height: 52px;
    font-size: 14px;
    font-weight: 700px;
    line-height: 18.23px;
    background-color: #00856F;
    color: white;
    border-radius: 40px;
    padding: 16px 32px 16px 32px;
}

.main-four-leftmain > button >span {
    width: 20px;
    height: 20px;
    line-height: 18.23px;
    padding-right: 30px;
}


.main-four-rightmain {
    width: 575px;
    height: 379px;
    border-radius: 20px;
}

.main-four-rightmain>img {
    width: 575px;
    height: 379px;
}
/* F O O T E R */

.footer {
    display: flex;
    justify-content: center;
    background-color: #00856F;
}

.footer-container {
    background-color: #00856F;
    color: #F7F9F9;
    font-family: 'DM Sans', sans-serif;
    /* position: absolute; */
    display: flex;
    align-items: center;
    gap: 566px;
    justify-content: space-around;
    bottom: 0;
    width: 1366px;
    height: 268px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.footer-left > h1 {
    font-size: 45px;
    font-weight: 200;
}

.footer-name > span {
    font-weight: 600;
}

.footer-left > p {
    font-size: 14px;
}

.footer-right {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    gap: 38px;

}

/* BLOCK WITH NUMBERS*/


.numbers-block {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    position:absolute;
    width: 1142px;
    height: 210px;
    font-family: 'DM Sans', sans-serif;
    top: 580px;
    background-color: white;
}
.vl1 {
    border-left: 2px solid #00856F;
    height: 80px;
}

.vl2 {
    border-left: 2px solid #00856F;
    height: 80px;
}

.left {
    width: 167px;
    height: 90px;
    text-align: center;
}

.left>h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 8px;
}

.left>p {
    font-size: 16px;
    font-weight: 400;
}

.center {
    width: 189px;
    height: 90px;
    text-align: center;
}

.center>h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 8px;
}

.center>p {
    font-size: 16px;
    font-weight: 400;
}

.right {
    width: 131px;
    height: 95px;
    text-align: center;
}

.right>h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 8px;
}

.right>p {
    font-size: 16px;
    font-weight: 400;
}